<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FP.210. FullStack JS + Node.Formulario de registro</title>
  </head>

  <body>
    <div>
      <h4>Formulario REGISTER</h4>
    </div>

    <form id="form">
      <input
        type="text"
        name="username"
        id="username"
        required
        placeholder="Introduzca su nombre de usuario"
      />
      <input
        type="password"
        name=""
        id="password"
        required
        placeholder="Introduzca su password"
      />
      <button id="register">Entrar</button>
    </form>
<script>
  
  </script>
    <script src="/views/registro.js"></script>
  </body>
</html>
